.gp-button {
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: #cfd3dc;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #4c4d4f;
  border-color: #4c4d4f;
}
